* {
  margin: 0;
  padding: 0;
}
.main-header {
  background-color: #97B3AE; /*BG Color*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
